<a href="https://colab.research.google.com/github/mgomezu/MetNumUN2022I/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My own example 1

In [ ]:
1+1

My own example 2

In [ ]:
print(1+1)

My own example 3

In [ ]:
num=3
print(num)

My own example 4

In [ ]:
print(1 + 1)
1 + 2

My own example 5

In [ ]:
string1 = 'hola'
print(string1)


My own example 6

In [ ]:
string1 = 'hola'
string2 = "mundo"
print(string1 + ' ' + string2)


My own example 7

In [ ]:
string1 = 'hola'
print(type(string1))


My own example 8

In [ ]:
string1 = "1"
print(type(string1))
string1 = int(string1)
print(type(string1))


My own example 9

In [ ]:
bool1 = True
print(bool1)
print(type(bool1))

My own example 10

In [ ]:
print("Suma", 1+1)

My own example 11

In [ ]:
print("Resta", 2-1)

My own example 12

In [ ]:
print("Multiplicacion", 2*2)

My own example 13

In [ ]:
print("Division", 4/2)

My own example 14

In [ ]:
print('exponente', 2**2)


My own example 15

In [ ]:
print(1/2)


My own example 16

In [ ]:
import math
pi = math.pi
print('Pi:', pi)


My own example 17

In [ ]:
import math
Euler = math.e
print('constante de Euler:', Euler)

My own example 18

In [ ]:
lista = ['hola', ' ', "mundo", 1]
print(lista)


My own example 19

In [ ]:
lista = ['hola', ' ', "mundo", 1]
print(lista[0])


My own example 20

In [ ]:
lista = ['hola', ' ', "mundo", 1]
print(lista[len(lista) -1])


My own example 21

In [ ]:
lista = ['hola', ' ', "mundo", 1]
lista[-1] = 'nuevo'
print(lista)


My own example 22

In [ ]:
lista = ['hola', ' ', "mundo", 1]
print(lista[1:3])


My own example 23

In [ ]:
lista = ['hola', ' ', "mundo", 1]
print(lista[1:])


My own example 24

In [ ]:
lista = ['hola', ' ', "mundo", 1]
print(lista[:3])


My own example 25

In [ ]:
lista = ['hola', ]
lista.append('mundo')
print(lista)

My own example 26

In [ ]:
lista = ['hola', 'mundo']
lista.append('mundo')
print(lista)

My own example 27

In [ ]:
tupla = ('hola', 'mundo')
print(tupla[1:])

My own example 28

In [ ]:
lista = ['hola', 'mundo','hola', 'mundo']
lista = set(lista)
print(lista)

My own example 29

In [ ]:
diccionario = {'grapes': 'uvas','lime': 'lima','lemon': 'limón','cherry': 'cereza','blueberry': 'arándano','banana': 'banano','apple': 'manzana','watermelon': 'sandía'}
print(diccionario['grapes'])

My own example 30

In [ ]:
diccionario = {'grapes': 'uvas','lime': 'lima','lemon': 'limón','cherry': 'cereza','blueberry': 'arándano','banana': 'banano','apple': 'manzana','watermelon': 'sandía'}
diccionario['banana'] = 'platano'
print(diccionario['banana'])

My own example 31

In [ ]:
diccionario = {'grapes': 'uvas','lime': 'lima','lemon': 'limón','cherry': 'cereza','blueberry': 'arándano','banana': 'banano','apple': 'manzana','watermelon': 'sandía'}
print(diccionario.keys())

My own example 32

In [ ]:
string1 = 'hola mundo'
print(string1[5:])

My own example 33

In [ ]:
print('numero de a´s en esta oracion'.count('a'))

My own example 34

In [ ]:
print('la primera a en esta oracion'.find('a'))

My own example 35

In [ ]:
print('se van a remplazar todas las a en esta oracion por e'.replace('a','e'))

My own example 36

In [ ]:
Hora = '2020-04-01 09:43:00'
splited_list = Hora.split(' ')
fecha = splited_list[0]
hora = splited_list[1]
print(fecha, hora)
hour = hora.split(':')[0]
print(hour)

My own example 37

In [ ]:
Hora = '2020-04-01 09:43:00'
splited_list = Hora.split(' ')
fecha = splited_list[0]
hora = splited_list[1]
hour = hora.split(':')[0]
print(hour)

My own example 38

In [ ]:
hora = 'Hora: {}, Minutos:{}'.format('09','43')
print(hora)

My own example 39

In [ ]:
print('%s to %s'%('Hola','Mundo'))

My own example 40

In [ ]:
print(1 == 0)


My own example 41

In [ ]:
print(1 == 1)

My own example 41

In [ ]:
print(1 != 0)


My own example 42

In [ ]:
print(1 != 1)

My own example 43

In [ ]:
print(1 >= 0)

My own example 44

In [ ]:
print(1 >= 1)

My own example 45

In [ ]:
print(1 == 0 and 1 == 1)

My own example 46

In [ ]:
print(1 == 1 and 1 != 0)

My own example 47

In [ ]:
if 1 == 1:
    print('El enunciado es verdadero')

My own example 48

In [ ]:
if 1 == 0:
    print('El enunciado es verdadero')
elif 1==1:
    print('El primer enunciado es falso pero, este es verdadero')

My own example 49

In [ ]:
if 1 == 0:
    print('El enunciado es verdadero')
elif 0==1:
    print('El primer enunciado es falso pero, este es verdadero')
else:
    print('Ninguno de los enunciados es verdadero')

My own example 50

In [ ]:
i = 0
while i <= 5:
    if i==5:
      print("i es 5")
    else:
      print("i no es 5")
    i += 1

My own example 51

In [ ]:
sum = 0
for i in range(10):
    sum += i
print(sum)

My own example 52

In [ ]:
for i in [1,2,3,4,5]:
    if i==5:
      print("i es 5")
    else:
      print("i no es 5")

My own example 53

In [ ]:
lista = ['hola', 'mundo',',','como', 'estas','?']
seleccion = [',','como', 'estas','?']
nuevaLista = []
for i in lista:
    if i not in seleccion :
        nuevaLista.append(i)
print(nuevaLista)

My own example 54

In [ ]:
lista = ['hola', 'mundo',',','como', 'estas','?']
for i in lista:
    if i != ',':
        print(i)
    else:
        break

My own example 55

In [ ]:
lista = ['hola', 'mundo',',','como', 'estas','?']
for i in lista:
    if i == ',':
      continue
    print(i)

My own example 56

In [ ]:
factorial = []
for i in [1,2,3,4,5]:
  j=1
  fact=1;
  while j <= i:
    fact=fact*j
    j += 1

  factorial.append(fact)
print(factorial)

My own example 57

In [ ]:
lista = [1,2,3,4,5]
cuadrados = [x**2 for x in lista]
print(cuadrados)

My own example 58

In [ ]:
import numpy as np
x = np.random.normal(0, 1, 10)
print(x)

My own example 59

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.random.normal(0, 1, 10)
plt.plot(x)

My own example 60

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.random.normal(0, 1, 10)
y = np.random.normal(0, 1, 10)
plt.plot(x)
plt.plot(y)

My own example 61

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.random.normal(0, 1, 10)
y = np.random.normal(0, 1, 10)
plt.plot(x)
plt.plot(y)
plt.xlabel('Nombre eje x')
plt.ylabel('Nombre eje y')
plt.legend(['X', 'X2']);

My own example 62

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.random.normal(0, 1, 10)
y = np.random.normal(0, 1, 10)
plt.plot(x)
plt.plot(y)
plt.xlabel('Nombre eje x')
plt.ylabel('Nombre eje y')
plt.legend(['Nombre de x', 'Nombre de y']);

My own example 63

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.random.normal(0, 1, 10)
promedio = np.mean(x)
print(promedio)

My own example 64

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.random.normal(0, 1, 10)
Desviacion = np.std(x)
print(Desviacion)

My own example 65

In [ ]:
import numpy as np
lista = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
returns = np.array(lista)
print (returns, type(returns))

My own example 66

In [ ]:
import numpy as np
lista = np.array([143.73, 145.83, 143.68, 144.02, 143.5, 142.62])
print (lista, type(lista))

My own example 67

In [ ]:
import numpy as np
lista = np.array([[143.73, 145.83], [143.68, 144.02], [143.5, 142.62]])
print (lista, type(lista))

My own example 68

In [ ]:
import numpy as np
lista = np.array([[143.73, 145.83], [143.68, 144.02], [143.5, 142.62]])
print (lista.shape)

My own example 69

In [ ]:
import numpy as np
lista = np.array([[143.73, 145.83], [143.68, 144.02], [143.5, 142.62]])
print (np.log(lista))

My own example 70

In [ ]:
import numpy as np
lista = np.array([[143.73, 145.83], [143.68, 144.02], [143.5, 142.62]])
print (np.mean(lista))

My own example 71

In [ ]:
import numpy as np
lista = np.array([[143.73, 145.83], [143.68, 144.02], [143.5, 142.62]])
print (np.max(lista))

My own example 72

In [ ]:
import numpy as np
N = 10
assets = np.zeros((N, 100))
print (assets)

My own example 73

In [ ]:
import numpy as np
N = 10
returns = np.zeros((N, 100))
print (returns)

My own example 74

In [ ]:
import numpy as np
N = 10
returns = np.zeros((N, 100))
R_1 = np.random.normal(1.01, 0.03, 100)
returns[0] = R_1
print (returns)

My own example 75

In [ ]:
import numpy as np
N = 10
assets = np.zeros((N, 100))
R_1 = np.random.normal(1.01, 0.03, 100)
assets[0] = np.cumprod(R_1)
print (assets)

My own example 76

In [ ]:
import numpy as np
N = 10
returns = np.zeros((N, 100))
R_1 = np.random.normal(1.01, 0.03, 100)
returns[0] = R_1
for i in range(1, N):
    R_i = R_1 + np.random.normal(0.001, 0.02, 100)
    returns[i] = R_i
    
print (returns)

My own example 77

In [ ]:
import numpy as np
N = 10
assets = np.zeros((N, 100))
R_1 = np.random.normal(1.01, 0.03, 100)
assets[0] = np.cumprod(R_1)
for i in range(1, N):
    R_i = R_1 + np.random.normal(0.001, 0.02, 100)
    assets[i] = np.cumprod(R_i)
    
print (assets)

My own example 78

In [ ]:
import numpy as np
N = 10
returns = np.zeros((N, 100))
R_1 = np.random.normal(1.01, 0.03, 100)
returns[0] = R_1
for i in range(1, N):
    R_i = R_1 + np.random.normal(0.001, 0.02, 100)
    returns[i] = R_i
    
mean_returns = [(np.mean(R) - 1)*100 for R in returns]
print(mean_returns)

My own example 79

In [ ]:
import numpy as np
N = 10
returns = np.zeros((N, 100))
R_1 = np.random.normal(1.01, 0.03, 100)
returns[0] = R_1
for i in range(1, N):
    R_i = R_1 + np.random.normal(0.001, 0.02, 100)
    returns[i] = R_i
    
return_volatilities = [np.std(R) for R in returns]
print(return_volatilities)

My own example 80

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
N = 10
returns = np.zeros((N, 100))
R_1 = np.random.normal(1.01, 0.03, 100)
returns[0] = R_1
for i in range(1, N):
    R_i = R_1 + np.random.normal(0.001, 0.02, 100)
    returns[i] = R_i
    
mean_returns = [(np.mean(R) - 1)*100 for R in returns]
plt.bar(np.arange(len(mean_returns)), mean_returns)

My own example 81

In [ ]:
import numpy as np
lista = np.array([1, 2, np.nan, 4, 5])
print (lista)

My own example 68My own example 82

In [ ]:
import numpy as np
lista = np.array([1, 2, np.nan, 4, 5])
print (np.mean(lista))

My own example 83

In [ ]:
import numpy as np
lista = np.array([1, 2, np.nan, 4, 5])
print (np.isnan(lista))

My own example 84

In [ ]:
import numpy as np
lista = np.array([1, 2, np.nan, 4, 5])
nan = ~np.isnan(lista)
print (lista[nan])

My own example 85

In [ ]:
import numpy as np
lista = np.array([1, 2, np.nan, 4, 5])
nan = ~np.isnan(lista)
print (np.nanmean(lista))

My own example 86

In [ ]:
import numpy as np
lista1 = np.array([
        [1, 2, 3, 4],
        [5, 6, 7, 8],
        [9, 10, 11, 0]        
    ])
lista2 = np.array([
        [1, 1, 2],
        [3, 4, 5],
        [6, 7, 8],
        [9, 10, 10]
    ])

print (np.dot(lista1, lista2))

My own example 87

In [ ]:
import numpy as np
lista1 = np.array([
        [1, 2, 3, 4],
        [5, 6, 7, 8],
        [9, 10, 11, 0]        
    ])
print (np.transpose(lista1))

My own example 88

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
returns = pd.DataFrame(np.random.normal(1.0, (100, 10)))
prices = returns.cumprod()
prices.plot()
plt.legend(loc=0);

My own example 89

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
returns = pd.DataFrame(np.random.normal(1.0, 3.0, (100, 10)))
prices = returns.cumprod()
prices.plot()
plt.legend(loc=0);

My own example 90

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
returns = pd.DataFrame(np.random.normal(1.0, 0.3, (100, 10)))
prices = returns.cumprod()
prices.plot()
plt.legend(loc=0);

My own example 91

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, np.nan, 4, 5])
print (serie)

My own example 92

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, np.nan, 4, 5])
print (serie.name)

My own example 93

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, np.nan, 4, 5])
serie.name=("Series")
print (serie.name)

My own example 94

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, np.nan, 4, 5])
print (serie.index)

My own example 95

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, np.nan, 4, 5])
nuevo_indice = pd.date_range("2020-04-01", periods=len(serie), freq="D")
print (nuevo_indice)

My own example 96

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, np.nan, 4, 5])
nuevo_indice = pd.date_range("2020-04-01", periods=len(serie), freq="D")
serie.index = nuevo_indice
print (serie.index)

My own example 97

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, np.nan, 4, 5])
print ("Primer elemento de las series: ", serie.iloc[0])

My own example 98

In [ ]:
import pandas as pd
serie = pd.Series([1, 2, np.nan, 4, 5])
print ("Ultimo elemento de las series: ", serie.iloc[-1])

My own example 99

In [ ]:
from itertools import permutations
from typing import List
import pandas

def permutar(a,b):
    permutacion: List[int] = []
    for x in b:
        cont=1
        for y in a:
           if cont == int(x):
               num=int(y)
               permutacion.append(num)

           cont=cont+1
    return permutacion


n=5
numeros: List[int] = []
for x in range(n):
    numeros.append(x+1)

permutaciones = list(permutations(numeros))
permutacionesAux = permutaciones[:]
tabla = []


for x in permutaciones:
    listaAux: List[int] = []
    for y in permutacionesAux:
        listaAux.append(permutar(x,y))
    tabla.append(listaAux)

print(pandas.DataFrame(tabla, permutaciones, permutacionesAux))

My own example 100

In [ ]:
from itertools import permutations
from typing import List

vertices = [1,2,3,4]
aristas = [[1,2],[1,2],[1,3],[1,3],[1,4],[2,4],[3,4]]
grafo = [vertices,aristas]

def lPermutaciones(vertices):
    verticesCopia = vertices.copy()
    listaPermutaciones : List[int] = []
    for x in vertices:
        verticesCopia.remove(x)
        for y in verticesCopia:
            listaPermutaciones.append([x,y])
    return listaPermutaciones

def calcularNaristas(vertices):
    nAristas: List[int] = []
    c=0
    n=0
    for x in vertices:
        cont=0
        for y in aristas:
            if x in y:
                cont=cont+1
        nAristas.append(cont)
        n=cont
        c=c+1

    for x in nAristas:
        if nAristas.count(n)!=c:
            return 0

    return 1

def permutar(permutacion,aristas):
    copiaAristas: List[list] = []
    nuevasAristas: List[list] = []
    cont=1
    ultimo=permutacion[-1]

    for x in aristas:
        copiaAristas.append(x.copy())

    for x in permutacion:

        aux = permutacion[cont]
        listaAux : List[int] = []
        for y in copiaAristas:
            if x in y:
                if aux in y:
                    pass
                else:

                    listaAux.append(copiaAristas.index(y))
                    y.remove(x)
                    y.append(aux)
                    nuevasAristas.append(y)

        listaAux.reverse()
        for y in listaAux:
            copiaAristas.pop(y)

        if aux==ultimo:
            cont=0
        else:
            cont=cont+1
    nuevasAristas.extend(copiaAristas)
    return nuevasAristas

def verificar(aristasOriginales, aristasNuevas):
    copiaAristas : List[list] = []

    for x in aristasOriginales:
        copiaAristas.append(x.copy())

    for x in copiaAristas:
        x.sort()

    for x in aristasNuevas:
        x.sort()
        if x in copiaAristas:
            copiaAristas.remove(x)

    if copiaAristas:
        return 0
    else:
        return 1

listaPermutacionesVerificadas = ["e"]
permutaciones = lPermutaciones(vertices)
for x in permutaciones:
    permutacion = x.copy()
    nuevasAristas = permutar(permutacion, aristas[:])
    if verificar(aristas[:], nuevasAristas)==1:
        listaPermutacionesVerificadas.append(x)

print (listaPermutacionesVerificadas)

My own example 101

In [ ]:
from builtins import print
from itertools import permutations
from typing import List

def verificarNumeroVerticesYAristas(vertices1,vertices2,aristas1,aristas2):
    contV1 = len(vertices1)
    contV2 = len(vertices2)
    contA1 = len(aristas1)
    contA2 = len(aristas2)

    if contV1==contV2:
        if contA1==contA2:
            return 1
        else:
            return 0
    else:
        return 0

def permutar(permutacion,aristas,vertices):
    copiaAristas: List[list] = []
    nuevasAristas: List[list] = []
    copiaVertices = vertices.copy()
    pos=0
    for x in aristas:
        copiaAristas.append(x.copy())

    for x in permutacion:
        aux = vertices[pos]
        for y in copiaAristas:
            if aux in y:
                y.remove(aux)
                y.append(x)

        pos=pos+1


    return copiaAristas

def verificar(aristasOriginales, aristasNuevas):
    copiaAristas : List[list] = []
    for x in aristasOriginales:
        copiaAristas.append(x.copy())

    for x in copiaAristas:
        x.sort()

    for x in aristasNuevas:
        x.sort()
        if x in copiaAristas:

            copiaAristas.remove(x)

    if copiaAristas:
        return 0
    else:
        return 1


vertices1=[1,2,3,4,5,6]
aristas1=[[1,2],[1,6],[2,6],[2,4],[4,3],[4,5],[5,3]]
grafo1=[vertices1,aristas1]

vertices2=['a','b','c','d','e','f']
aristas2=[['a','b'],['a','c'],['b','c'],['c','d'],['d','e'],['d','f'],['e','f']]
grafo2=[vertices2,aristas2]

verificacion = 0

if verificarNumeroVerticesYAristas(vertices1,vertices2,aristas1,aristas2):
    permutaciones = list(permutations(vertices1))
    while verificacion == 0:
        for x in permutaciones:
            permutacion = x
            nuevasAristas = permutar(permutacion, aristas2[:], vertices2)
            if verificar(aristas1[:], nuevasAristas) == 1:
                verificacion=1
        if verificacion == 0:
            verificacion=2

    if verificacion == 1:
        print ("Los grafos son isomorfos")
    else:
        print("Los grafos no son isomorfos")
else:
    print ("Los grafos no son isomorfos")

My own example 102

In [ ]:
import os
import pandas as pd
from pandas import ExcelWriter

funcion1 = "Hola"
funcion2 = "Mundo"
funciones = [funcion1, funcion2]
df = pd.DataFrame({'funciones': funciones})
df = df[['funciones']]
writer = ExcelWriter('archivo.xlsx')
df.to_excel(writer, 'Hoja de datos', index=False)
writer.save()

My own example 103

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
l = np.random.randint(1,10, size=100)
serie = pd.Series(l)

nuevo_indice = pd.date_range("2022-04-01", periods=len(serie), freq="D")
serie.index = nuevo_indice
print (serie)

My own example 104

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
l = np.random.randint(1,10, size=100)
serie = pd.Series(l)

nuevo_indice = pd.date_range("2022-04-01", periods=len(serie), freq="D")
serie.index = nuevo_indice
print(serie.iloc[:50:2])

My own example 105

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
l = np.random.randint(1,10, size=100)
serie = pd.Series(l)

nuevo_indice = pd.date_range("2022-04-01", periods=len(serie), freq="D")
serie.index = nuevo_indice
print(serie.loc['2022-04-04'])

My own example 106

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
l = np.random.randint(1,10, size=100)
serie = pd.Series(l)

nuevo_indice = pd.date_range("2022-04-01", periods=len(serie), freq="D")
serie.index = nuevo_indice
print(serie.loc[(serie>1) & (serie<3)])

My own example 107

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
l = np.random.randint(1,10, size=100)
serie = pd.Series(l)

nuevo_indice = pd.date_range("2022-04-01", periods=len(serie), freq="D")
serie.index = nuevo_indice
print(serie.head(5))

My own example 108

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
l = np.random.randint(1,10, size=100)
serie = pd.Series(l)

nuevo_indice = pd.date_range("2022-04-01", periods=len(serie), freq="D")
serie.index = nuevo_indice
print(serie.tail(5))

My own example 109

In [ ]:
import pandas as pd
spanishPlayers = pd.Series(
    ['Casillas', 'Ramos', 'Pique', 'Puyol', 'Capdevila', 'Xabi Alonso', 'Busquets', 'Xavi Hernandez', 'Pedrito',
     'Iniesta', 'Villa'], index=[1, 15, 3, 5, 11, 14, 16, 8, 18, 6, 7])
print ("Spanish Football Players: \n%s" % spanishPlayers)

My own example 110

In [ ]:
import pandas as pd
spanishPlayers = pd.Series(
    ['Casillas', 'Ramos', 'Pique', 'Puyol', 'Capdevila', 'Xabi Alonso', 'Busquets', 'Xavi Hernandez', 'Pedrito',
     'Iniesta', 'Villa'])
print ("Spanish Football Players: \n%s" % spanishPlayers)

My own example 111

In [ ]:
import pandas as pd
dictPlayers = {1: 'Casillas', 15: 'Ramos', 3: 'Pique', 5: 'Puyol', 11: 'Capdevila', 14: 'Xabi Alonso',
               16: 'Busquets', 8: 'Xavi Hernandez', 18: 'Pedrito', 6: 'Iniesta', 7: 'Villa'}
players2series = pd.Series(dictPlayers)
players2series[10] = 'Cesc'
print ("Spanish Football Players through dictionary: \n%s" % players2series)

My own example 112

In [ ]:
import pandas as pd
spanishPlayersDF = pd.DataFrame(
    {
        'name': ['Casillas', 'Ramos', 'Pique', 'Puyol', 'Capdevila', 'Xabi Alonso', 'Busquets', 'Xavi Hernandez',
                 'Pedrito', 'Iniesta', 'Villa'],
        'demarcation': ['Goalkeeper', 'Right back', 'Centre-back', 'Centre-back', 'Left back', 'Defensive midfield',
                        'Defensive midfield', 'Midfielder', 'Left winger', 'Right winger', 'Centre forward'],
        'team': ['Real Madrid', 'Real Madrid', 'FC Barcelona', 'FC Barcelona', 'Villareal', 'Real Madrid',
                 'FC Barcelona', 'FC Barcelona', 'FC Barcelona', 'FC Barcelona', 'FC Barcelona']
    }, columns=['name', 'demarcation', 'team'], index=[1, 15, 3, 5, 11, 14, 16, 8, 18, 6, 7]
)
print ("Spanish Football Players through dictionary: \n%s" % spanishPlayersDF)

My own example 113

In [ ]:
import pandas as pd
spanishPlayersDF = pd.DataFrame(
    {
        'name': ['Casillas', 'Ramos', 'Pique', 'Puyol', 'Capdevila', 'Xabi Alonso', 'Busquets', 'Xavi Hernandez',
                 'Pedrito', 'Iniesta', 'Villa'],
        'demarcation': ['Goalkeeper', 'Right back', 'Centre-back', 'Centre-back', 'Left back', 'Defensive midfield',
                        'Defensive midfield', 'Midfielder', 'Left winger', 'Right winger', 'Centre forward'],
        'team': ['Real Madrid', 'Real Madrid', 'FC Barcelona', 'FC Barcelona', 'Villareal', 'Real Madrid',
                 'FC Barcelona', 'FC Barcelona', 'FC Barcelona', 'FC Barcelona', 'FC Barcelona']
    }, columns=['name', 'demarcation', 'team'], index=[1, 15, 3, 5, 11, 14, 16, 8, 18, 6, 7]
)
spanishPlayersDF.loc[10] = ['Cesc', 'Forward', 'Arsenal']
print ("Spanish Football Players through dictionary: \n%s" % spanishPlayersDF)

My own example 114

In [ ]:
import pandas as pd

inicio = int(input('Introduce el año inicial: '))
fin = int(input('Introduce el año final: '))
ventas = {}
for i in range(inicio, fin+1):
    ventas[i] = float(input('Introduce las ventas del año ' + str(i) +': '))
ventas = pd.Series(ventas)
print('Ventas\n', ventas)
print('Ventas con descuento\n', ventas*0.9)

My own example 115

In [ ]:
import pandas as pd

def estadistica_notas(notas):
    notas = pd.Series(notas)
    estadisticos = pd.Series([notas.min(), notas.max(), notas.mean(), notas.std()], index=['Min', 'Max', 'Media', 'Desviación típica'])
    return estadisticos

notas = {'Juan':9, 'María':6.5, 'Pedro':4, 'Carmen': 8.5, 'Luis': 5}
print(estadistica_notas(notas))

My own example 116

In [ ]:
import pandas as pd

def estadistica_notas(notas):
    notas = pd.Series(notas)
    return notas.describe()

notas = {'Juan':9, 'María':6.5, 'Pedro':4, 'Carmen': 8.5, 'Luis': 5}
print(estadistica_notas(notas))

My own example 117

In [ ]:
import pandas as pd

def aprobados(notas):
    notas = pd.Series(notas)
    return notas[notas >= 5].sort_values(ascending=False)

notas = {'Juan':9, 'María':6.5, 'Pedro':4, 'Carmen': 8.5, 'Luis': 5}
print(aprobados(notas))

My own example 118

In [ ]:
import pandas as pd

datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}
contabilidad = pd.DataFrame(datos)
print(contabilidad)

My own example 119

In [ ]:
import pandas as pd

datos = [['Enero', 30500, 22000], ['Febrero', 35600, 23400], ['Marzo', 28300, 18100], ['Abril', 33900,20700]]
contabilidad = pd.DataFrame(datos, columns=['Mes', 'Ventas', 'Gastos'])
print(contabilidad)

My own example 120

In [ ]:
import pandas as pd

datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}

contabilidad = pd.DataFrame(datos)

def balance(contabilidad, meses):
    contabilidad['Balance'] = contabilidad.Ventas - contabilidad.Gastos
    return contabilidad[contabilidad.Mes.isin(meses)].Balance.sum()

print(balance(contabilidad, ['Enero','Marzo']))

My own example 121

In [ ]:
import pandas as pd

datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}

contabilidad = pd.DataFrame(datos)

def balance(contabilidad, meses):
    contabilidad['Balance'] = contabilidad.Ventas - contabilidad.Gastos
    return contabilidad.set_index('Mes').loc[meses,'Balance'].sum()

print(balance(contabilidad, ['Enero','Marzo']))

My own example 122

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df

My own example 123

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.info

My own example 124

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.dtypes

My own example 125

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.describe()

My own example 126

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.head()

My own example 127

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.tail()

My own example 128

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df['W']

My own example 129

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df[['W','Z']]

My own example 130

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df[['X','W','Z']]

My own example 131

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
type(df['W'])

My own example 132

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df['new'] = df['W'] + df['Y']
df

My own example 133

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df.drop('Z',axis=1)

My own example 134

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.drop('A',axis=0)

My own example 135

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df.drop('Z',axis=1, inplace=True)
df

My own example 136

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
del df['Z']
df

My own example 137

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.columns

My own example 138

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.index

My own example 139

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.loc['A']

My own example 140

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.plot(x, y)

My own example 141

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.plot(x, y)
plt.title('Titulo de la grafica');

My own example 142

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.plot(x, y)
plt.title('Titulo de la grafica');

My own example 143

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.plot(x, y)
plt.title('Titulo de la grafica')
plt.xlabel('Nombre del eje X')
plt.ylabel('Nombre del eje Y')

My own example 144

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.plot(x, x**2, 'b.-')
plt.plot(x, x**3, 'g--')
plt.title('Titulo de la grafica')
plt.xlabel('Nombre del eje X')
plt.ylabel('Nombre del eje Y')

My own example 145

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.plot(x, x, color="red")
plt.plot(x, x+1, color="red", alpha=0.5)
plt.plot(x, x+2, color="#8B008B") 
plt.plot(x, x+3, color="#F08C08") 
plt.grid(True)
plt.title('Titulo de la grafica')
plt.xlabel('Nombre del eje X')
plt.ylabel('Nombre del eje Y')

My own example 146

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.subplots(figsize=(12,6))

plt.plot(x, x+1, color="red", linewidth=0.25)
plt.plot(x, x+2, color="red", linewidth=0.50)
plt.plot(x, x+3, color="red", linewidth=1.00)
plt.plot(x, x+4, color="red", linewidth=2.00)
plt.plot(x, x+5, color="green", lw=3, linestyle='-')
plt.plot(x, x+6, color="green", lw=3, ls='-.')
plt.plot(x, x+7, color="green", lw=3, ls=':')
line, = plt.plot(x, x+8, color="black", lw=1.50)
line.set_dashes([5, 10, 15, 10])
plt.plot(x, x+ 9, color="blue", lw=3, ls='-', marker='+')
plt.plot(x, x+10, color="blue", lw=3, ls='--', marker='o')
plt.plot(x, x+11, color="blue", lw=3, ls='-', marker='s')
plt.plot(x, x+12, color="blue", lw=3, ls='--', marker='1')
plt.plot(x, x+13, color="purple", lw=1, ls='-', marker='o', markersize=2)
plt.plot(x, x+14, color="purple", lw=1, ls='-', marker='o', markersize=4)
plt.plot(x, x+15, color="purple", lw=1, ls='-', marker='o', markersize=8, markerfacecolor="red")
plt.plot(x, x+16, color="purple", lw=1, ls='-', marker='s', markersize=8, 
        markerfacecolor="yellow", markeredgewidth=3, markeredgecolor="green");
plt.title('Titulo de la grafica')
plt.xlabel('Nombre del eje X')
plt.ylabel('Nombre del eje Y')

My own example 147

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.subplot(1,2,1)
plt.plot(x, y, 'r--')
plt.subplot(1,2,2)
plt.plot(y, x, 'g*-')
plt.tight_layout()
plt.title('Titulo de la grafica')
plt.xlabel('Nombre del eje X')
plt.ylabel('Nombre del eje Y')

My own example 148

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
plt.subplot2grid((3,3), (0,0), colspan=3)
plt.subplot2grid((3,3), (1,0), colspan=2)
plt.subplot2grid((3,3), (1,2), rowspan=2)
plt.subplot2grid((3,3), (2,0))
plt.subplot2grid((3,3), (2,1))
plt.tight_layout()

My own example 149

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
plt.figure(figsize=(12, 4))

plt.subplot(1,3,1)
plt.plot(x, x**2, x, x**3)
plt.title("Rango por defecto de los ejes")

My own example 150

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.iloc[2]

My own example 151

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.loc['B','Y']

My own example 152

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.loc[['A','B'],['W','Y']]

My own example 153

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.loc[['B','A'],['Y','W']]

My own example 154

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df>0

My own example 155

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df[df>0]

My own example 156

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df[df['W']>0]

My own example 157

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df[df['W']>0]['Y']

My own example 158

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df[df['W']>0][['Y','Z']]

My own example 159

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df[(df['W']>0) & (df['Y'] > 0.5)]

My own example 160

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.query('W>0')

My own example 161

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.query('W>0')['Y']

My own example 162

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.query('W>0')[['Y','Z']]

My own example 163

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.query('W>0 and Y>0.5')

My own example 164

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df = df.reset_index()
df

My own example 165

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
newind = 'CA NY WY OR CO'.split()
df['States'] = newind
df

My own example 166

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
newind = 'CA NY WY OR CO'.split()
df['States'] = newind
df.set_index('States')

My own example 167

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
newind = 'CA NY WY OR CO'.split()
df['States'] = newind
df.set_index('States',inplace=True)
df

My own example 168

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

My own example 169

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df.groupby('Company')

My own example 170

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_comp = df.groupby("Company")
by_comp.mean()

My own example 171

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df.groupby('Company').mean()

My own example 172

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_comp = df.groupby("Company")
by_comp.std()

My own example 173

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_comp = df.groupby("Company")
by_comp.min()

My own example 174

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_comp = df.groupby("Company")
by_comp.max()

My own example 175

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_comp = df.groupby("Company")
by_comp.count()

My own example 176

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_comp = df.groupby("Company")
by_comp.describe()

My own example 177

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_comp = df.groupby("Company")
by_comp.transpose()

My own example 178

In [ ]:
import pandas as pd
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_comp = df.groupby("Company")
by_comp.transpose()['GOOG']

My own example 179

In [ ]:
import pandas as pd
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}
df = pd.DataFrame(data)
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

My own example 180

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
pd.concat([df1,df2,df3])

My own example 181

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
pd.concat([df1,df2,df3],axis=1)

My own example 182

In [ ]:
import pandas as pd
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})  
pd.merge(left,right,how='inner',on='key')

My own example 183

In [ ]:
import pandas as pd
# crear un dataframe
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],
                   'col3':['mama   ','  papa','   HIJO  ','HiJa']})
df.sum()

My own example 184

In [ ]:
import pandas as pd
# crear un dataframe
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],
                   'col3':['mama   ','  papa','   HIJO  ','HiJa']})
df['col1'].sum()

My own example 185

In [ ]:
import pandas as pd
# crear un dataframe
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],
                   'col3':['mama   ','  papa','   HIJO  ','HiJa']})
df[['col1','col2']].sum()

My own example 186

In [ ]:
import pandas as pd
# crear un dataframe
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],
                   'col3':['mama   ','  papa','   HIJO  ','HiJa']})
df.min()

My own example 187

In [ ]:
import pandas as pd
# crear un dataframe
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],
                   'col3':['mama   ','  papa','   HIJO  ','HiJa']})
df.max()

My own example 188

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.linspace(0,5, 11)
y = x ** 2
xx = np.linspace(-0.75, 1., 100)
plt.plot(xx, xx**2, xx, xx**3)
plt.title("Plot con anotaciones")
plt.text(0.15, 0.2, r"$y=x^2$", fontsize=20, color="blue")
plt.text(0.65, 0.1, r"$y=x^3$", fontsize=20, color="green");

My own example 189

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
N = 50
x = np.random.rand(N)
y = np.random.rand(N)

plt.scatter(x, y)
plt.title("Scatter plot Simple");
plt.show()

My own example 190

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
N = 50
x = np.random.rand(N)
y = np.random.rand(N)
colors = np.random.rand(N) 
area = np.pi * (15 * np.random.rand(N))**2 

plt.scatter(x, y, s=area, c=colors, alpha=0.5)
plt.title("Scatter plot de representacion de 4 variables");

My own example 191

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from random import sample
data = sample(range(1, 1000), 100)

plt.hist(data,bins = 10)
plt.title("Histograma");

My own example 192

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
data = [np.random.normal(0, std, 100) for std in range(1, 4)]

plt.boxplot(data,vert=True,patch_artist=True);
plt.title("Boxplot");

My own example 193

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
all_data = [np.random.normal(0, std, 100) for std in range(6, 10)]
plt.violinplot(all_data, showmeans=False, showmedians=True)
plt.title('violin plot');

My own example 194

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
labels = 'Caballos', 'Cerdos', 'Perros', 'Vacas'
sizes = [15, 30, 45, 10]
explode = (0, 0.1, 0, 0)

plt.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)

plt.axis('equal') 
plt.show()

My own example 195

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x = np.arange(0.1, 4, 0.5)
y = np.exp(-x)
plt.errorbar(x, y, xerr=0.2, yerr=0.4)
plt.title("Diagrama de error")
plt.grid()
plt.show()

My own example 196

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.DataFrame(np.random.rand(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.plot.area(alpha=1);

My own example 197

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.DataFrame(np.random.rand(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.iloc[2:8].plot.bar();

My own example 198

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.DataFrame(np.random.rand(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.iloc[2:8].plot.bar(stacked=True);

My own example 199

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.DataFrame(np.random.rand(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df['Y'].plot.hist(bins=50);

My own example 200

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.DataFrame(np.random.rand(5,4),
                  index='A B C D E'.split(),
                  columns='W X Y Z'.split())
df.plot.scatter(x='X',y='Y');